body {
  background-color: #041F4A;
  & > .element.element-atom:first-of-type {
    background-color: #fff;
    padding-bottom: 140px;
    margin: 0;
    @include mq(tablet) {
      padding-bottom: 0;
      border-bottom: 100px solid #052962;
    }
  }
}

.brand-header,
.pledge-main,
.pledge-header,
.support-and-share,
.sticky-header,
.read-more {
  &__inner {
    padding: 0 10px;
    position: relative;
    @include mq(mobileLandscape) {
      padding: 0 20px;
    }
    @include mq(tablet) {
      width: 700px;
      // padding: 0;
      margin: 0 auto;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: $neutral-86;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }

    }
    @include mq(desktop) {
      width: 940px;
    }
    @include mq(leftCol) {
      width: 1100px;
    }
    @include mq(wide) {
      width: 1260px;
    }
  }
}
