.pledge-main {
  margin-top: 24px;
  min-height: 50vh;

  @include mq(tablet) {
    margin-top: 0;
  }

  &__content {
    position: relative;
    padding-top: 24px;
    padding-top: 10px;
    @include mq(leftCol) {
      padding-left: 160px;
    }
    @include mq(wide) {
      padding-left: 240px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      background-color: $neutral-86;
    }

    &:after {
      display: none;
      left: 140px;
      bottom: 0;
      width: 1px;
      @include mq(leftCol) {
        display: block;
      }
      @include mq(wide) {
        left: 220px;
      }
    }

    &:before {
      left: 0;
      right: 0;
      height: 1px;
      @include mq(tablet) {
        left: -20px;
        right: -20px;
      }
    }


    p, li {
      font-size: 17px;
      line-height: 24px;
      max-width: 620px;
      a {
        color: #CB4700;
        text-decoration-color: #999;
        border-bottom: 1px solid #dcdcdc;
        text-decoration: none;
        &:hover {
          border-bottom-color: #CB4700;
          text-decoration: none;
        }
      }
    }
    p {
      margin-bottom: 16px;
    }
    p:nth-child(3),
    ul + p {
      font-weight: bold;
    }

    @include mq(tablet) {
      ul ~ p {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: -16px;
          right: -21px;
          bottom: 0;
          width: 1px;
          background-color: $neutral-86;
        }
      }
      ul + p {
        &:before {
          content: '';
          position: absolute;
          top: -16px;
          right: -21px;
          left: -20px;
          height: 1px;
          background-color: $neutral-86;
        }
      }
    }

    ul {
      margin: 32px 0 12px;
      padding: 40px 0 12px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 16px;
        background: repeating-linear-gradient(
          #CB4700,
          #CB4700 1px,
          rgba(255,0,0,0) 1px,
          rgba(255,0,0,0) 5px,
          #CB4700 5px
        );
        @include mq(tablet) {
          width: 640px;
        }
      }


      li {
        list-style-type: none;
        break-inside: avoid;
        padding-bottom: 24px;
        strong {
          font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
          display: block;
          font-weight: 700;
          font-size: 20px;
          line-height: 135%;
          margin-bottom: 9px;
          @include mq(tablet) {
            font-size: 24px;
          }
        }
        .br {
          display: block;
          height: 0;
          margin-top: -10px;
        }
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
    em {
      background-color: #ffe500;
      padding: 2px 4px;
      font-style: normal;
      font-weight: bold;
    }
  }
}
