.pledge-main {
  margin-top: 24px;
  min-height: 50vh;

  &__content {
    position: relative;
    padding-top: 24px;
    padding-top: 0px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 16px;
        height: 1px;
        top: -6px;
      background: repeating-linear-gradient(
        $neutral-86,
        $neutral-86 1px,
        rgba(255,0,0,0) 1px,
        rgba(255,0,0,0) 5px,
        $neutral-86 5px
      );
      // $neutral-86
    }


    p, li {
      font-size: 17px;
      line-height: 24px;
      max-width: 640px;
      a {
        color: #CB4700;
        text-decoration-color: #999;
        border-bottom: 1px solid #dcdcdc;
        text-decoration: none;
        &:hover {
          border-bottom-color: #CB4700;
          text-decoration: none;
        }
      }
    }
    p {
      margin-bottom: 16px;
    }
    p:nth-child(3),
    ul + p {
      font-weight: bold;
    }

    ul {
      margin: 32px 0 12px;
      padding: 40px 0 40px;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 16px;
        background: repeating-linear-gradient(
          #CB4700,
          #CB4700 1px,
          rgba(255,0,0,0) 1px,
          rgba(255,0,0,0) 5px,
          #CB4700 5px
        );
        // $neutra86
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }


      @include mq(desktop) {
        column-count: 2;
        column-gap: 40px;
      }
      li {
        list-style-type: none;
        break-inside: avoid;
        padding-bottom: 24px;
        &:before {
          content: '';
          display: block;
          width: 140px;
          height: 1px;
          background-color: $neutral-86;
          margin-bottom: 6px;
          @include mq(tablet) {
            width: 50%;
          }
        }
        strong {
          font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
          display: block;
          font-weight: 700;
          font-size: 20px;
          line-height: 135%;
          margin-bottom: 6px;
          @include mq(tablet) {
            font-size: 24px;
          }
        }
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
    em {
      background-color: #ffe500;
      padding: 2px 4px;
      font-style: normal;
      font-weight: bold;
    }
  }
}
