.pledge-header {
  &__headline__main {
    animation-name: shiftGradient;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.25,1,.75);
    @keyframes shiftGradient {
      0% {
        background-position: 0em;
      }
      100% {
        background-position: 42em;
      }
    }
  }
  &__earth {
    &__globe {
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      &.layer-a {
        animation-name: rotateGlobeA;
        animation-duration: 180s;
      }
      &.layer-b {
        animation-name: rotateGlobeB;
        animation-duration: 120s;
        @keyframes rotateGlobeA {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        @keyframes rotateGlobeB {
          0% {
            transform: rotate(0);
            opacity: 1;
          }
          5% {
            opacity: 0.8;
          }
          10% {
            opacity: 0.2;
          }
          15% {
            opacity: 0.8;
          }
          20% {
            opacity: 1;
          }
          25% {
            opacity: 0.8;
          }
          30% {
            opacity: 0.2;
          }
          35% {
            opacity: 0.8;
          }
          40% {
            opacity: 1;
          }
          45% {
            opacity: 0.8;
          }
          50% {
            opacity: 0.2;
          }
          55% {
            opacity: 0.8;
          }
          60% {
            opacity: 1;
          }
          65% {
            opacity: 0.8;
          }
          70% {
            opacity: 0.2;
          }
          75% {
            opacity: 0.8;
          }
          80% {
            opacity: 1;
          }
          85% {
            opacity: 0.8;
          }
          90% {
            opacity: 0.2;
          }
          95% {
            opacity: 0.8;
          }

          100% {
            opacity: 1;
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

