.read-more {
  font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
  &.has-content {
    .placeholder {
      display: none;
    }
  }
  &__header {
    border-top: 1px solid $neutral-86;
    font-size: 24px;
    line-height: 28px;
    padding: 4px 0;
    @include mq(tablet) {
      padding: 4px 0 12px;
      border-top: 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        right: -20px;
        height: 1px;
        background-color: $neutral-86;
      }
    }
    @include mq(leftCol) {
      padding-top: 8px;
    }
    @include mq($from: leftCol, $until: wide) {
      font-size: 19px;
      line-height: 23px;
      padding-top: 12px;
      strong,
      em {
        margin-left: -3px;
      }
    }
    strong,
    em {
      display: block;
      @include mq($from:mobileLandscape, $until: leftCol) {
        display: inline;
      }
    }
    strong {
      font-weight: 700;
      margin-right: 7px;
    }
    em {
      font-weight: 300;
      font-style: italic;
    }
  }

  &__links {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    @include mq(tablet) {
      justify-content: space-between;
      padding-bottom: 80px;
    }
    @include mq(leftCol) {
      padding-left: 160px;
      margin-top: -82px;
    }
    @include mq(wide) {
      padding-left: 240px;
      padding-right: 80px;
      margin-top: -90px;
    }
    &__link {
      width: 100%;
      margin-top: 20px;
      position: relative;
      min-height: 156px;
      padding-bottom: 54px;
      @include mq(tablet) {
        padding-bottom: 78px;
        width: calc(50% - 12px);
      }
      @include mq(desktop) {
        width: calc(50% - 20px);
      }
      &.placeholder {
        opacity: 0.01;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 36px;
        z-index: 0;
        background: repeating-linear-gradient(
          $neutral-86,
          $neutral-86 1px,
          rgba(255,0,0,0) 1px,
          rgba(255,0,0,0) 5px,
          $neutral-86 5px
        );

      }
      .headline {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        text-indent: 1.3em;
        position: relative;
        @include mq(tablet) {
          font-size: 24px;
          line-height: 32px;
        }
        &:before {
          content: '“';
          font-size: 2.8em;
          position: absolute;
          left: -0.47em;
          top: 0.18em;
          font-weight: 700;
          @include mq(tablet) {
            top: 0.22em;
          }
        }
      }
      .byline {
        margin-top: 2px;
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
        width: 55%;
        &__author {
          color: #121212;
        }
        &__about {
          color: #E05E00;
        }
        @include mq(tablet) {
          font-size: 17px;
          line-height: 21px;
          font-weight: 400;
        }
      }
      .picture {
        display: none;
        &[src] {
          display: block;
        }
        position: absolute;
        bottom: 0;
        right: -16px;
        width: 172px;
        height: 144px;
        z-index: 1;
        @include mq(tablet) {
          width: 224px;
          height: 188px;
        }
        @include mq(desktop) {
          right: 0;
        }
      }
      .more {
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: bold;
        font-size: 17px;
        line-height: 34px;
        padding: 0 16px 2px;
        border: 1px solid #121212;
        border-radius: 36px;
        display: inline-block;
        margin-top: 5px;
        position: relative;
        z-index: 1;
      }
      &:hover .more {
        background-color: #f6f6f6;
      }
      .link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
      }
    }
  }
}
