.support-and-share {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: #F6F6F6;
  // box-shadow: 0 -4px 4px rgba(0,0,0,0.07);
  border-top: 1px solid #999;
  @include mq(tablet) {
    position: static;
    background-color: transparent;
    // box-shadow: none;
    border-top: 0;
    &__inner {
      padding-bottom: 80px;
    }
  }

  &__support,
  &__share {
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    font-size: 17px;
  }

  &__support {
    display: inline-block;
    margin: 8px 0 16px;
    padding: 0 16px 0 16px;
    height: 36px;
    border-radius: 36px;
    line-height: 34px;
    background-color: #ffe500;
    color: #121212;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #041F4A;
    }

    @media screen and ( min-height: 630px ) {
      margin-bottom: 40px;
    }
    @include mq(tablet) {
      margin: 18px 0 24px;
      height: 45px;
      line-height: 44px;
      padding: 0 20px 0 20px;
      &:hover {
        background-color: #F3C100;
      }
    }
    @include mq(leftCol) {
      margin-left: 160px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: -22px;
        bottom: -120px;
        width: 1px;
        background-color: $neutral-86;
      }
    }

    @include mq(wide) {
      margin-left: 240px;
    }

    &.app {
      display: none;
    }
    .ios &,
    .android & {
      &.app {
        display: inline-block;
      }
      &.web {
        display: none;
      }
    }

    svg {
      position: relative;
      top: 5px;
      left: 8px;
      margin-right: 4px;
    }
  }

  &__share {
    display: inline-block;
    @include mq(tablet) {
      padding-top: 4px;
      padding-bottom: 20px;
      &:before,
      &:after {
        content: '';
        display: block;
        background-color: $neutral-86;
        position: absolute;
      }
      &:before {
        left: 660px;
        width: 1px;
        bottom: 80px;
        top: 0;
        @include mq(leftCol) {
          left: 820px;
        }

        @include mq(wide) {
          left: 900px;
        }

      }
      &:after {
        width: 660px;
        height: 1px;
        left: 0;
        top: auto;
        bottom: 80px;
        @include mq(leftCol) {
          left: 160px;
        }
        @include mq(wide) {
          left: 240px;
        }
      }
    }
    &__icons {
      display: none;
      @include mq(tablet) {
        display: inline-block;
        margin: 12px 0 15px 18px;
        vertical-align: middle;
      }
    }
    &__sheet {
      display: block;
      position: absolute;
      left: 216px;
      top: 8px;
      padding: 0 12px;
      height: 36px;
      cursor: pointer;
      color: #052962;
      border-radius: 36px;
      @include mq(mobileMedium) {
        padding: 0 18px 0 14px;
        left: 220px;
      }
      @include mq(mobileLandscape) {
        left: 232px;
      }
      @include mq(tablet) {
        display: none;
      }
      &:hover {
        background-color: rgba(#C1D8FC,0.25);
      }
      .icon,
      .label {
        display: inline-block;
        line-height: 36px;
      }
      .icon {
        position: relative;
        top: 3px;
        margin-right: 8px;
        svg path {
          fill: currentColor;
        }
      }
    }
  }
}
