<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Interactive</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" type="text/css" media="all" id="fontStyles" href="https://uploads.guim.co.uk/2020/09/28/fonts-ios.css" />
  <link rel="stylesheet" type="text/css" media="all" href="https://uploads.guim.co.uk/2020/09/28/interactive.css" />
  <link rel="stylesheet" type="text/css" media="all" href="https://uploads.guim.co.uk/2020/09/28/style-async.css" />


  <script type="text/javascript">
    window.GU = window.GU || {};
  </script>
  <script type="text/javascript" src="https://uploads.guim.co.uk/2020/09/28/curl.js"></script>
  <script type="text/javascript" src="https://uploads.guim.co.uk/2020/09/28/boot.js"></script>
  <script type="text/javascript">
    window.require = curl || {};
  </script>
</head>

<body class="font-size-4 ios  display-hint--immersive dark-mode-" data-fullscreen-interactive data-content-type="interactive" data-ads-enabled="mpu" data-ads-enable-hiding="true" data-ads-config="mobile" style="margin-top: 0px;" data-font-size="4" data-page-id="environment/ng-interactive/2020/oct/05/the-guardian-environment-pledge-2020-climate-emergency-carbon-emissions" data-template-directory="./" data-mpu-after-paragraphs="3" data-use-ads-ready="true">

  <figure class="element element-atom">
    <figure class="interactive interactive-atom">
      <link rel="stylesheet" type="text/css" href="main.css" />
      <%= html %>
      <script>
            <%= js %>
      </script>
    </figure>
  </figure>

  <p>We want the Guardian to play a leading role in reporting on the environmental catastrophe.<br>So today at the Guardian we commit to the following:</p>
  <ul>
    <li><strong>We will continue our longstanding record of powerful environmental reporting, which is known around the world for its quality and independence<br></strong>In April 2019, the Columbia Journalism Review said, ‘For some time now, by far the best daily reporting on climate change has come from the Guardian, which covers the science, politics, economics, and health aspects throughout the world with great force and clarity.’ We will prioritise and give prominence to environmental journalism from The Guardian and Observer, bringing you the news and information you need. Our reporting on the environment, from our international team, will never be influenced by commercial or political interests and will always be rooted in scientific fact.</li>
    <li><strong>We will be transparent with our progress<br></strong>We have announced today that we have become the first news organisation to acquire BCorp certification, which means joining a community of businesses from across the globe who openly commit to driving positive societal change. This is an important milestone in public transparency and accountability for our global environmental footprint.</li>
    <li><strong>We will use language that recognises the severity of the crisis we’re in</strong><br>In May 2019, the Guardian updated its style guide to introduce terms that more accurately describe the environmental crises facing the world, using “climate emergency, crisis or breakdown” and “global heating” instead of “climate change” and “global warming”. We want to ensure that we are being scientifically precise, while also communicating clearly with readers on the urgency of this issue.<br></li>
    <li><strong>The Guardian will achieve net zero emissions by 2030</strong><br>We are developing a detailed plan for how to achieve this, involving a full audit of our emissions. Our priority will be to reduce our carbon footprint meaningfully and permanently.</li>
    <li><strong>We will no longer accept advertising from fossil fuel extractive companies</strong><br>on any of the Guardian’s websites and apps, nor in the Guardian, Observer and Guardian Weekly in print. This includes any business primarily involved in extracting fossil fuels, including many of the world’s largest polluters. Our decision is based on the decades-long efforts by many in the industry to prevent meaningful climate action by governments around the world.</li>
  </ul>
  <p>Environmental journalism from the Guardian and the Observer has a powerful impact around the world and we have received financial support from readers in more than 180 countries. This support means we can keep Guardian journalism accessible to everyone. We hope you will consider supporting Guardian journalism today with a contribution or subscription — <em>every form of support, however big or small, is so valuable for our future.</em></p>

  <script type="text/javascript">
      GU.bootstrap.init({
        asyncStylesFilename: "style-async",
        fontSize: "font-size-4",
        platform: "ios",
        isOffline: "" ? true : false,
        contentType: "interactive",
        adsEnabled: "mpu",
        adsEnableHiding: "true" === "true",
        adsConfig: "mobile",
        actionBarHeight: "0",
        fontSizeInt: "4",
        templatesDirectory: "./",
        pageId: "environment/ng-interactive/2020/oct/05/the-guardian-environment-pledge-2020-climate-emergency-carbon-emissions",
        mpuAfterParagraphs: "3",
        useAdsReady: "true" === "true",
        tests: '',
        nativeYoutubeEnabled: "" === "true",
        disableEnhancedTweets: "" === "true",
        hasEpic: "" === "true"
      });
  </script>
</body>

</html>
